*{
    font-family: Roboto;
}
header{
    position: absolute;

}
footer{
    position: absolute;
}
.title{
    color: white;
}
img{
    width: 550px;
    border-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 550px;
    border-radius: 10px;
    background-color: #1b98e0;
}
